@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Rokkitt:wght@200;400;600;800&display=swap');

* {
/*credit: code taken from Love Running - mini project*/
    margin: 0;
    padding: 0;
    border: 0;
/*credit: code taken from https://www.w3schools.com/css/css3_box-sizing.asp */
    box-sizing: border-box;
}

body {
    color: yellow;
    background-color: #201F24;
}

/*-------------------------------------------Page 1-header*/

#page-header {
    display: block;
    background-color: #B22F21;
    border: 2px solid #B22F21;
    padding: 5px;
}

header {
    background-color: rgb(15,15,15);
    border-bottom: 2px solid yellow;
}

h2 {
    font-family: Rokkitt, sans-serif;
    text-transform: uppercase;
    color: white;
}

#logo {
    float: left;
    font-size: 400%;
    padding:5px;
}

nav {
    display: flex;
/* Credit: Code taken from https://www.w3schools.com/cssref/css3_pr_justify-content.asp */
    justify-content: flex-end;
}

#nav-menu {
    font-size: 90%;
    list-style-type: none;
    display: flex;
}

#logo, #nav-menu {
    line-height: 150px;
}

#nav-menu li {
    margin-right: 10px;
}

#nav-menu a {
    text-decoration: none;
    color: yellow;
    padding: 10px 20px 10px 20px; 
}

#nav-menu a:hover {
    background-color: yellow;
    color: black;
}

nav .active {
    border-bottom: 2px solid yellow;
}

/*-------------------------------------------Page 1-section 1-hero image*/

.hero-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
/* credit: Code taken from https://www.w3schools.com/css/css3_images.asp */
    max-width: 100%;
    height: auto;
}

#cover-text {
    font-size: 100%;
    font-family: Quicksand, sans-serif;
    padding-top: 35px;
    padding-left: 35px;
    padding-bottom: 35px;
    padding-right: 35px;
    background-color: #B22F21;
    border-top: 2px solid yellow;
}

/*-------------------------------------------Page 1-hr*/

hr {
    margin: 75px 5% 75px 5%;
/* Credit: Code taken from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_style_hr */
    border-top: 2px solid yellow;
}

/*-------------------------------------------Page 1-section 2-table*/

.table-message {
    text-align: center;
    padding: 10px;
    background-color: rgba(240, 54, 32, .7);
    width: 90%;
/* Credit: Code taken from https://www.w3schools.com/howto/howto_css_table_center.asp, adapted for streamlining */
    margin: 0 auto;
}

table {
    width: 80%;
    margin: 0 auto; 
}


table, th, td {
    border: 2px solid yellow;
/*Credit: Code taken from https://www.w3schools.com/css/css_table.asp */
    border-collapse: collapse;
    color: white;
}

td, th {
    padding: 10px;
}

th {
    text-align: center;
}
/*Credit:  Code taken from http://www.corelangs.com/css/table/tablecolor.html */
th:nth-child(2) {
    background-color: rgba(240, 54, 32, .7);
    color: white;
}

td:nth-child(2) {
    background-color: rgba(240, 54, 32, .7);
    color: white;
    text-align: center;
}

/*-------------------------------------------Page 1-footer*/

footer {
    margin-top: 75px;
    height: 150px;
    background-color: rgb(15,15,15);
/* Credit: Code taken from https://stackoverflow.com/questions/5661520/centering-2-divs-inside-another-vertically */
    display: flex;
    align-items: center;

}

#footer-message {
    float: left;
    margin: 35px;
    width: 40%;
}

#footer-message i {
    color: yellow;
    font-size: 120%;
}

#footer-message i:hover {
    color: #F03620;
    font-size: 120%;
}

#footer-links {
    width: 60%;
}

.social-links {
    text-align: center;
}

.social-links li {
    display: inline;
}

.social-links i {
    font-size: 120%;
    padding: 3%;
    margin-right: 20px;
    color: yellow;
    border: 2px solid transparent;
    border-radius: 50%;
}

.social-links i:hover {
    color: #F03620;
    border: 2px solid yellow;
    border-radius: 50%;
}

/*-------------------------------------------Page 2/3-section 1-basic info*/

.console-image {
    object-fit: cover;
    margin: 35px;
    border: 10px solid rgba(240, 54, 32, .7);
    border-radius: 20px;
    float: left;
/*Credit: Code taken from https://reactgo.com/css-crop-images/ */
    height: 400px;
    width: 400px;
}

.past-image {
    height: 150px;
    width:150px;
    object-fit: cover;
    margin-right: 10px;
    margin-top: 35px;
    border: 10px solid rgba(240, 54, 32, .7);
    border-radius: 20px;
    display:inline-flex;
}

#ps-message {
    height: 150px;
    width: 100%;
    background-color: rgba(240, 54, 32, .7);
    display: block;
    margin-right: 20px;
    margin-top: 20px;
    border-top: 2px solid yellow;
}

/*-------------------------------------------Page 2/3-section 2-carousel*/

.carousel{
    background: rgba(240, 54, 32, .7);
    margin-top: 20px;
    border-right: 2px solid yellow;
}

.carousel-item{
    min-height: 280px;
}

.carousel-item img {
    width: 700px;
    padding: 20px 0px 60px 100px;
}

#ps-message h2 {
    width: 100%;
}

#ps-message p {
    width: 100%;
}

/*-------------------------------------------Page 2/3-section 3-accordion*/

.accordion {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    background-color: #201F24;
}

.card-header {
    border: 3px solid yellow;
    background-color: #B22F21;
}

.card-header button {
    color: white;
}

.card-header button:hover {
    color: white;
    text-decoration: none;
}

.card-body {
    background-color: #201F24;
    border-left: 3px solid yellow;
    border-right: 3px solid yellow; 
    text-align: center;
}

.inner-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  width: 200px;
  display: inline-block;
  margin: 1% 5% 1% 5%;
}

/* On mouse-over, add a deeper shadow */
.inner-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,1);
}

.inner-card img{
    height: 200px;
}

/* Add some padding inside the card container */
.card-container {
  padding: 2px 16px;
}

/*-------------------------------------------Page 2/3-section 4-video*/

/*Credit: Code taken from https://www.youtube.com/watch?v=9YffrCViTVk, description. Needs tutor guidens to fix bug*/
.video-container {
    position: relative;
    width: 100%;
    height: 0;
    display: flex;
    justify-content: center;
    padding-bottom: 56%; 
}

.video-container iframe{
    display: block;
    border: 2px solid yellow;
    padding: 10px;
    background-color: rgba(240, 54, 32, .7);
    position: absolute;
    width: 60%;
    height: 60%;
}

/*-------------------------------------------Page 4-section 1-form*/

#signup-info {
    background-color: #B22F21;
}

.form-section {
    width:60%;
    margin: 0 auto;
    border: 2px solid yellow;
    padding: 10px;
}

label {
    width: 100%;
}

input[type=text], input[type=email] {
    width: 100%;
}

#hr-comp {
    border-top: 2px solid yellow;
    margin: 25px 5% 25px 5%;
}

#comp-section {
    display: flex;
}

#comp-info {
    color: white;
    width: 50%;
    padding: 10px;
}

#comp-input {
    width: 50%;
    padding: 10px;
}

#comp-input label {
    width: auto;
}

.comp-input-inner {
    width: 100%;
}

#reason {
    width: 100%;
}

.join-button {
    width: 90%;
    background-color: #B22F21;
    border-radius: 15px;
    margin: 20px;
    padding: 10px 0px 10px 0px;
    color: white;
}

.join-button:hover {
    background-color: white;
    color: #B22F21;
}



/*-------------------------------------------media links
------------------------------------------------------*/

@media screen and (min-width: 950px) {
/*-------------------------------------------Page 1-section 2-table*/
    .table-message {
        display: none;
    }
}

@media screen and (max-width: 950px) {
/*-------------------------------------------Page 1-header*/
    
/*Code taken from https://stackoverflow.com/questions/19705066/remove-a-div-if-screen-size-is-smaller-than-640px, used again later in media queries*/
    #navbar-div i {
        display: none;
    }

    /*-------------------------------------------Page 1-section 2-table*/

    .table-div {
        padding-top: 20px;
    }
}

@media screen and (max-width: 750px) {
/*-------------------------------------------Page 1-header*/
    nav {
        display: block;
    }

    #logo {
        text-align: center;
        width: 100%;
    }

    #logo {
        line-height: 100px;
    }
/* Code taken from Love running mini project, modified to suit needs */
    #nav-menu {
        display: block;
        line-height: 50px;
    }

    #nav-menu li {
        text-align: center;
    }

    #navbar-div i {
        display: inline;
    }

/*-------------------------------------------Page 1-section 1-hero image*/

    #hero-image-info {
        font-size: 30px;
    }

/*-------------------------------------------Page 1-footer*/

    #footer-message {
        display: none;
    }

    #footer-links {
        display: block;
        width: 100%;
    }

    #footer-links i {
        margin: 0px 5px 0px 5px;
        padding: 3%; 
    }

/*-------------------------------------------Page 2/3-section 4-video*/

    .video-container iframe {
    width: 80%;
    height: 80%;
    }

/*-------------------------------------------Page 4-section 1-video*/

    .form-section {
    width:90%;
}

#comp-section {
    display: block;
}

#comp-info {
    width: 100%;
}

#comp-input {
    width: 100%;
}

}





