@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Rokkitt:wght@200;400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    color: yellow;
    background-color: #201F24;
}

/*-------------------------------------------header*/
header {
    background-color: rgb(15,15,15);
    border-bottom: 2px solid yellow;
}

h2 {
    font-family: Rokkitt, sans-serif;
    text-transform: uppercase;
    color: white;
}

#logo {
    float: left;
    font-size: 400%;
}

nav {
    display: flex;
    justify-content: flex-end;
}

#nav-menu {
    font-size: 90%;
    list-style-type: none;
    display: flex;
}

#logo, #nav-menu {
    line-height: 150px;
}

#nav-menu li {
    margin-right: 15px;
}

#nav-menu a {
    text-decoration: none;
    color: yellow;
    padding: 10px 20px 10px 20px; 
}




