@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Rokkitt:wght@200;400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    color: yellow;
    background-color: #201F24;
}

/*-------------------------------------------Page 1-header*/
header {
    background-color: rgb(15,15,15);
    border-bottom: 2px solid yellow;
}

h2 {
    font-family: Rokkitt, sans-serif;
    text-transform: uppercase;
    color: white;
}

#logo {
    float: left;
    font-size: 400%;
}

nav {
    display: flex;
    justify-content: flex-end;
}

#nav-menu {
    font-size: 90%;
    list-style-type: none;
    display: flex;
}

#logo, #nav-menu {
    line-height: 150px;
}

#nav-menu li {
    margin-right: 10px;
}

#nav-menu a {
    text-decoration: none;
    color: yellow;
    padding: 10px 20px 10px 20px; 
}

#nav-menu a:hover {
    background-color: yellow;
    color: black;
}

nav .active {
    border-bottom: 2px solid yellow;
}

/*-------------------------------------------Page 1-section 1-hero image*/

.hero-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*-------------------------------------------Page 1-footer*/

footer {
    margin-top: 75px;
    height: 150px;
    display: flex;
    align-items: center;
    background-color: rgb(15,15,15)
}

#footer-message {
    float: left;
    margin: 35px;
    width: 40%;
}

#footer-message i {
    color: yellow;
    font-size: 120%;
}

#footer-message i:hover {
    color: #F03620;
    font-size: 120%;
}

#footer-links {
    width: 60%;
}

.social-links {
    text-align: center;
}

.social-links li {
    display: inline;
}

.social-links i {
    font-size: 120%;
    padding: 3%;
    margin-right: 20px;
    color: yellow;
    border: 2px solid transparent;
    border-radius: 50%;
}

.social-links i:hover {
    color: #F03620;
    border: 2px solid yellow;
    border-radius: 50%;
}







/*-------------------------------------------media links*/

@media screen and (max-width: 950px) {
/*-------------------------------------------header*/
    #navbar-div i {
        display: none;
    }
}

@media screen and (max-width: 720px) {
/*-------------------------------------------header*/
    nav {
        display: block;
    }

    #logo {
        text-align: center;
        width: 100%;
    }

    #logo {
        line-height: 100px;
    }

    #nav-menu {
        display: block;
        line-height: 50px;
    }

    #nav-menu li {
        text-align: center;
    }

    #navbar-div i {
        display: inline;
    }

    

/*-------------------------------------------footer*/

    #footer-message {
        display: none;
    }

    #footer-links {
        display: block;
        width: 100%;
    }

    #footer-links i {
        margin: 0px 5px 0px 5px;
        padding: 3%; 
    }
}





