@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Rokkitt:wght@200;400;600;800&display=swap');

* {
/*credit: code taken from Love Running - mini project*/
    margin: 0;
    padding: 0;
    border: 0;
/*credit: code taken from https://www.w3schools.com/css/css3_box-sizing.asp */
    box-sizing: border-box;
}

body {
    color: yellow;
    background-color: #201F24;
}

/*-------------------------------------------Page 1-header*/

#page-header {
    display: block;
    background-color: #B22F21;
    border: 2px solid #B22F21;
    padding: 5px;
}

header {
    background-color: rgb(15,15,15);
    border-bottom: 2px solid yellow;
}

h2 {
    font-family: Rokkitt, sans-serif;
    text-transform: uppercase;
    color: white;
    font-family: Rokkitt, sans-serif;
}

#logo {
    float: left;
    font-size: 400%;
    font-weight: 600;
    padding:5px;
    margin-left: 5px;
}

nav {
    display: flex;
/* Credit: Code taken from https://www.w3schools.com/cssref/css3_pr_justify-content.asp */
    justify-content: flex-end;
}

#nav-menu {
    font-size: 90%;
    list-style-type: none;
    display: flex;
}

#logo, #nav-menu {
    line-height: 150px;
}

#nav-menu li {
    margin-right: 10px;
}

#nav-menu a {
    font-family: Quicksand, sans-serif;
    text-decoration: none;
    color: yellow;
    padding: 10px 20px 10px 20px; 
}

#nav-menu a:hover {
    background-color: yellow;
    color: black;
}

nav .active {
    border-bottom: 2px solid yellow;
}

/*-------------------------------------------Page 1-section 1-hero image*/

.hero-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
/* credit: Code taken from https://www.w3schools.com/css/css3_images.asp */
    max-width: 100%;
    height: auto;
}

#cover-text {
    font-size: 100%;
    font-family: Quicksand, sans-serif;
    padding-top: 35px;
    padding-left: 35px;
    padding-bottom: 35px;
    padding-right: 35px;
    background-color: #B22F21;
    border-top: 2px solid yellow;
}

/*-------------------------------------------Page 1-hr*/

hr {
    margin: 75px 5% 75px 5%;
/* Credit: Code taken from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_style_hr */
    border-top: 2px solid yellow;
}

/*-------------------------------------------Page 1-section 2-table*/

.section-title {
    margin-left: 20px;
    padding: 20px;
}

.container-large {
    max-width: 1100px;
    border: 1px solid yellow;
    font-family: Quicksand, sans-serif;
}

.container-small {
    border: 1px solid yellow;
    font-family: Quicksand, sans-serif;
}

.row-headings {
    font-size: 150%;
    font-family: Rokkitt, sans-serif;
}

.container-fluid div {
    padding: 10px;
}

.feature-div {
    color: yellow;
    background-color: #B22F21;
    border: 1px solid yellow;
    font-weight: 600;
    text-align: center;
}

.xbox-div {
    background-color: rgb(15,15,15);
    color: white;
    border: 1px solid yellow;
}

.ps-div {
    background-color: #201F24;
    color: white;
    border: 1px solid yellow;
}

.col-12 {
    text-align: center;
}

.cpu:hover:after {
    content: "Central Processing Unit, aids the general speed of the console, especially when completing multiple tasks";
    display: inline-block;
    background-color: yellow;
    color: #B22F21;
    padding: 0px 10px;
    border-radius: 5px;
    font-size: 15px;
}

.gpu:hover:after {
    content: "Graphics Processing Unit, aids the rendering of images/videos to create a smoother picture";
    display: inline-block;
    background-color: yellow;
    color: #B22F21;
    padding: 0px 10px;
    border-radius: 5px;
    font-size: 15px;
}

.subscription-service:hover:after {
    content: "Optional service that offers incentives such as free games or enhanced online options";
    display: inline-block;
    background-color: yellow;
    color: #B22F21;
    padding: 0px 10px;
    border-radius: 5px;
    font-size: 15px;
}

.memory:hover:after {
    content: "Games require memory to function. The more memory, the more games can be installed at once";
    display: inline-block;
    background-color: yellow;
    color: #B22F21;
    padding: 0px 10px;
    border-radius: 5px;
    font-size: 15px;
}

.memory-bandwidth:hover:after {
    content: "Higher memory bandwidth can draw higher quality images,associated with GPU";
    display: inline-block;
    background-color: yellow;
    color: #B22F21;
    padding: 0px 10px;
    border-radius: 5px;
    font-size: 15px;
}

.optical-drive:hover:after {
    content: "Disk reader that plays all disks, from standard DVDs to 4k BluRay";
    display: inline-block;
    background-color: yellow;
    color: #B22F21;
    padding: 0px 10px;
    border-radius: 5px;
    font-size: 15px;
}

.reverse:hover:after {
    content: "Games of previous consoles that can be played on the latest iteration";
    display: inline-block;
    background-color: yellow;
    color: #B22F21;
    padding: 0px 10px;
    border-radius: 5px;
    font-size: 15px;
}

.price:hover:after {
    content: "Cost of the base model, includes the console itself and one controller";
    display: inline-block;
    background-color: yellow;
    color: #B22F21;
    padding: 0px 10px;
    border-radius: 5px;
    font-size: 15px;
}

/*-------------------------------------------Page 1-footer*/

footer {
    margin-top: 75px;
    height: 150px;
    background-color: rgb(15,15,15);
/* Credit: Code taken from https://stackoverflow.com/questions/5661520/centering-2-divs-inside-another-vertically */
    display: flex;
    align-items: center;

}

#footer-message {
    float: left;
    margin: 35px;
    width: 40%;
}

#footer-message h4 {
    font-family: Rokkitt, sans-serif;
    color: white;
}

#footer-message p {
    font-family: Quicksand, sans-serif;
}

#footer-message i {
    color: yellow;
    font-size: 120%;
}

#footer-message i:hover {
    color: #B22F21;
    font-size: 120%;
}

#footer-links {
    width: 60%;
}

.social-links {
    text-align: center;
}

.social-links li {
    display: inline;
}

.social-links i {
    font-size: 150%;
    padding: 3%;
    margin-right: 20px;
    color: yellow;
    border: 2px solid transparent;
    border-radius: 50%;
}

.social-links i:hover {
    color: #B22F21;
    border: 2px solid yellow;
    border-radius: 50%;
}

/*-------------------------------------------Page 2/3-section 1-basic info*/

#console-image-set {
    text-align: center;
    background-color: #B22F21;
    border-bottom: 2px solid yellow;
}

#past-image-set {
    text-align: center;
}

.current-image {
    height: auto;
    width: 100%;
    max-width: 700px;
}

#past-image-set img {
    height: 190px;
    width: 190px;
    margin: 1% 2% 1% 2%;
    object-fit: cover;
    border: 5px solid #B22F21;
    display: inline;
}
/*
.prac {
    height: 225px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.container {
    display: inline-block;
    position: relative;
    width: 50%;
    max-width: 190px;
    margin: 1% 2% 1% 2%;
}

.p-image {
  display: block;
  width: 190px;
  height: 190px;
  object-fit: cover;
  border: 5px solid #B22F21;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.container:hover .overlay {
  opacity: 1;
}
*/
#ps-message {
    height: auto;
    width: 100%;
    background-color: rgba(240, 54, 32, .7);
    display: block;
    margin-right: 20px;
    border-top: 2px solid yellow;
    padding: 20px;
}

#ps-message p {
    font-family: Quicksand, sans-serif;
}

/*-------------------------------------------Page 2/3-section 2-carousel*/

.carousel{
    background: rgba(240, 54, 32, .7);
    border: 2px solid yellow;
    padding: 10px; 
}

.carousel-item{
/*Credit: code taken from https://stackoverflow.com/questions/23018344/how-can-i-fix-bootstrap-carousel-dimensions/23018550*/
    min-height: 280px;
}

.carousel-item img {
    max-height: 500px;
    object-fit: cover;
    margin: 0 auto;
/*Credit: cose taken from https://stackoverflow.com/questions/30538967/how-to-center-image-in-carousel/30539078 */
    width: 100%;
}

.carousel-item a {
    color: yellow;
    font-weight: 600;
    text-decoration: underline;
}

.carousel-caption {
    background-color: #B22F21;
    padding: 0px;
    font-size: 80%;
    font-family: Rokkitt, sans-serif;
}

.carousel-caption h2 {
    color: white;
}

.carousel-caption p {
    color: yellow;
    font-family: Quicksand, sans-serif;
}

.carousel-control-prev span {
    background-color: rgba(240, 54, 32, 1);
}

.carousel-control-next span {
    background-color: rgba(240, 54, 32, 1);
}

/*-------------------------------------------Page 2/3-section 3-accordion*/

.accordion {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    background-color: #201F24;
}

.card-header {
    border: 2px solid yellow;
    background-color: #B22F21;
    padding: 0;
}

.card-header button {
    color: white;
    font-family: Rokkitt, sans-serif;
    font-size: 70%;
}

.card-header button:hover {
    color: yellow;
    text-decoration: none;
}

.card-body {
    background-color: #201F24;
    border-left: 3px solid yellow;
    border-right: 3px solid yellow; 
    text-align: center;
}

.inner-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  width: 200px;
  display: inline-block;
  margin: 1% 5% 1% 5%;
}

/* Credit: code taken from https://www.w3schools.com/howto/howto_css_cards.asp, modifed for needs*/
.inner-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,1);
}

.inner-card img{
    height: 200px;
    object-fit: cover;
}

.inner-card h4 {
    font-family: Rokkitt, sans-serif;
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
}

.inner-card p {
    font-family: Quicksand, sans-serif;
    font-size: 15px;
}

.card-container {
  padding: 3px 16px;
}

/*-------------------------------------------Page 2/3-section 4-video*/

/*Credit: Code taken from https://www.youtube.com/watch?v=9YffrCViTVk, description. Needs tutor guidance to fix bug*/
.video-container {
    position: relative;
    width: 100%;
    height: 0;
    display: flex;
    justify-content: center;
    padding-bottom: 56.25%; 
}

.video-container iframe{
    display: block;
    border: 2px solid yellow;
    padding: 10px;
    background-color: rgba(240, 54, 32, .7);
    position: absolute;
    width: 70%;
    height: 70%;
}

/*-------------------------------------------Page 4-section 1-form*/

#signup-info {
    background-color: #B22F21;
    padding: 20px;
    margin-bottom: 75px;
    font-family: Quicksand, sans-serif;
}

#signup-info h2 {
    font-family: Rokkitt, sans-serif;
}

.form-section {
    width:60%;
    margin: 0 auto;
    border: 2px solid yellow;
    padding: 10px;
    font-family: Quicksand, sans-serif;
}

label {
    width: 100%;
}

input[type=text], input[type=email] {
    width: 100%;
}

#hr-comp {
    border-top: 2px solid yellow;
    margin: 25px 5% 25px 5%;
}

#comp-section {
    display: flex;
}

#comp-info {
    color: yellow;
    width: 50%;
    padding: 10px;
}

#comp-info h4 {
    font-family: Rokkitt, sans-serif;
    color: white;
}

#comp-input {
    width: 50%;
    padding: 10px;
}

#comp-input label {
    width: auto;
}

.comp-input-inner {
    width: 100%;
}

#reason {
    width: 100%;
    min-height: 100px;
}
/*Credit: code taken from https://www.w3schools.com/css/css_form.asp, modified to suit needs, personalised styling*/
.join-button {
    width: 90%;
    background-color: #B22F21;
    border-radius: 15px;
    margin: 20px;
    padding: 10px 0px 10px 0px;
    color: white;
}

.join-button:hover {
    background-color: white;
    color: #B22F21;
}

/*-------------------------------------------Page 4-section 2-progress bar*/

.progress-bar {
    background-color: transparent;
    align-items: center;
    font-size: 20px;
}

.progress {
    width: 80%;
    border: 2px solid yellow;
    font-family: Quicksand, sans-serif;
}

#x-progress {
    background-color: white;
    color: rgb(15,15,15);
}

#ps-progress {
    background-color: #B22F21;
}

/*-------------------------------------------Page 5-section 1-complete submission */

.complete-outer {
    padding-top: 75px;
}

.complete-div {
    border: 2px solid yellow;
    border-radius: 20px;
    padding: 50px;
    max-width: 800px;
    margin: 0 auto;
    font-family: Quicksand, sans-serif;
    font-size: 20px;
}

.complete-div h3 {
    color: white;
    font-family: Rokkitt, sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.complete-div a {
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    background-color: #B22F21;
    display: block;
    color: white;
    font-family: Quicksand, sans-serif;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
}

.complete-div a:hover {
    background-color: white;
    color: #B22F21;
}

/*-------------------------------------------media links
------------------------------------------------------*/

@media screen and (min-width: 750px) {
    .container-small {
        display: none;
    }
}

@media screen and (max-width: 950px) {
/*-------------------------------------------Page 1-header*/
    
/*Code taken from https://stackoverflow.com/questions/19705066/remove-a-div-if-screen-size-is-smaller-than-640px, used again later in media queries*/
    #navbar-div i {
        display: none;
    }

    #nav-menu a {
    padding: 10px 15px 10px 15px; 
    }   

/*-------------------------------------------Page 1-section 2-table*/

    .container-fluid {
        font-size: 16px;
    }

/*-------------------------------------------Page 2/3-section 1-console info*/

    #past-image-set img {
        height: 150px;
        width: 150px;
        margin: 2%;
        object-fit: cover;
    }
}

@media screen and (max-width: 750px) {
/*-------------------------------------------Page 1-header*/
    h2 {
        font-size: 20px;
    }

    p {
        font-size: 15px;
    }

    nav {
        display: block;
    }

    #logo {
        text-align: center;
        width: 100%;
        margin-left: 0;
    }

    #logo {
        line-height: 100px;
    }
/* Code taken from Love running mini project, modified to suit needs */
    #nav-menu {
        display: block;
        line-height: 50px;
    }

    #nav-menu li {
        text-align: center;
    }

    #navbar-div i {
        display: inline;
    }

/*-------------------------------------------Page 1-section 1-hero image*/

    #hero-image-info {
        font-size: 30px;
    }

    #cover-text {
    padding: 10px;
    }


  /*-------------------------------------------Page 1-section 2-table*/

    .container-large {
        display: none;
    }

/*-------------------------------------------Page 1-footer*/

    #footer-message {
        display: none;
    }

    #footer-links {
        display: block;
        width: 100%;
    }

    #footer-links i {
        margin: 0px 5px 0px 5px;
        padding: 1%; 
    }

/*-------------------------------------------Page 2/3-section 1-console info*/

    #past-image-set img {
    height: 110px;
    width: 110px;
    margin: 2%;
    object-fit: cover;
}

/*-------------------------------------------Page 2/3-section 3-accordion */
    .accordion {
        width: 95%;
    }

    .card-header button {
        font-size: 20px;
    }

/*-------------------------------------------Page 2/3-section 4-video*/

    .video-container iframe {
        width: 95%;
        height: 95%;
    }

/*-------------------------------------------Page 4-section 1-video*/

    .form-section {
        width:90%;
    }

    #comp-section {
        display: block;
    }

    #comp-info {
        width: 100%;
    }

    #comp-input {
        width: 100%;
    }

/*-------------------------------------------Page 4-section 2-progress bar*/

    .progress-bar {
        font-size: 14px;
    }

    /*-------------------------------------------Page 5-section 1-complete submission */

    .complete-div {
        font-size: 15px;
    }

    .complete-div h3 {
    font-size: 25px;
    }
}